.m-btn{
    background-color: #2ca01c;
    border-radius: 4px;
    height: 36px;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    padding: 0 24px;
    text-align: center;
    outline: unset;
    border: none;
    cursor: pointer;
    /* min-width: 100px; */
}
.m-btn:hover{
    background-color: #35bf22;
}
.m-btn:active, .m-btn:focus{
    background-color: #01B075;
}

/* btn background white */
.m-btn-outline{
    min-width: 53px;
    padding: 6px 16px;
    border: 1px solid #8d9096;
    color: #111;
    background-color: transparent;
}
.m-btn-outline:hover{
    background-color: #d2d3d6;
}
.m-btn-outline:active, .m-btn-outline:focus{
    background-color: #b8bcc3;
}