input.m-checkbox{
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

input.m-checkbox:checked,
input.m-checkbox:active,
input.m-checkbox:checked:active{
    cursor: pointer;
    background: url(../../img/Sprites.64af8f61.svg) no-repeat;
    background-position: -1224px -361px;
    border: 1px solid #2CA01C;
}
.m-checkbox-label{
    display: flex;
    justify-content: start;
    align-items: center;
}
.m-checkbox-label>label{
    white-space: nowrap;
    padding-left: 10px;
    font-size: 13px;
    color: #111;
}

/* .m-radio-input:checked{
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background: #2ca01c; */