.m-dropdown{
    position: relative;
    padding: 4px 10px;
}
.m-dropdown div.m-dropdown-item{
    display: none;
    background-color: #fff !important;
    white-space: nowrap;
    transition: all .2s ease;
    position: absolute;
    top: 18px;
    left: -80px;
    z-index: 111;
    text-align: left;
    min-width: 100px;
    font-weight: 400!important;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #b8bcc3;
}
.m-dropdown-active{
    border: 1px solid #0075c0;
}
.m-dropdown-active > div.m-dropdown-item{
    display: block;
}
div.m-dropdown-item:hover{
    color: #08bf1e;
}
.m-dropdown-menu{
    background: #fff;
    padding: 2px 1px;
    border-radius: 2px;
    border: 1px solid #babec5;
    position: relative;
}