.m-dropdown {
  position: relative;
  padding: 4px 10px;
}
.m-dropdown div.m-dropdown-item {
  display: none;
  background-color: #fff !important;
  white-space: nowrap;
  transition: all 0.2s ease;
  position: absolute;
  top: 18px;
  left: -80px;
  z-index: 111;
  text-align: left;
  min-width: 100px;
  font-weight: 400 !important;
  font-size: 13px;
  padding: 1px 0;
  border: 1px solid #b8bcc3;
}
.m-dropdown-active {
  border: 1px solid #0075c0;
  padding: 4px 9px;
}

.m-dropdown-active > div.m-dropdown-item {
  display: block;
}
div.m-dropdown-item > div {
  height: 28px;
  box-sizing: border-box;
  padding: 5px 10px;
}
div.m-dropdown-item > div:hover {
  color: #08bf1e;
  background-color: #eef0f2;
}
.m-dropdown-menu {
  background: #fff;
  padding: 2px 1px;
  border-radius: 2px;
  border: 1px solid #babec5;
  position: relative;
}

/* LEFT NAV TABLE */
/* dropdown delete multi */
.m-content-main .m-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.m-content-main .m-row .m-bar-table-left .m-dropdown {
  height: 34px;
  padding: 0 16px;
  border-radius: 30px;
  border: 2px solid #3b3c3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-content-main .m-row .m-bar-table-left .m-dropdown:hover {
  background-color: #d2d3d6;
}
.m-bar-table-left .m-dropdown-item{
  top: 110% !important;
  left: 40% !important;
  z-index: 1111 !important;
  cursor: pointer;
}

/* PAGINATE DROPDOWN */

.m-paging-right .m-dropdown-list {
  background-color: #fff !important;
  display: none;
  white-space: nowrap;
  transition: all 0.2s ease;
  position: absolute;
  top: 18px;
  left: -75px;
  z-index: 3;
  min-width: 100px;
  border: 1px solid #b8bcc3;
}

.m-paging-right .m-dropdown-page {
  font-weight: 400 !important;
  font-size: 13px !important;
  cursor: pointer;
}

.m-paging-right .m-dropdown-page:hover {
  background: rgb(218, 217, 217);
  color: #08bf1e;
}

.m-paging-right .m-dropdown-active {
  border: 1px solid #0075c0;
  padding: 1px 5px;
}

.m-paging-right .m-dropdown-active .m-dropdown-list {
  display: block;
}

.m-paging-right .m-dropdown-menu {
  background: #fff;
  padding: 2px 1px;
  border-radius: 2px;
  border: 1px solid #babec5;
  position: relative;
}
.m-paging-right .m-page-size {
  border: 1px solid #babec5;
  position: relative;
}
.m-paging-right .m-page-size .page-size-text {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  min-width: 160px;
}
.m-paging-right .m-page-size .m-dropdown {
  padding: 0;
}
.m-paging-right .m-page-size .m-icon-arrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.m-paging-right .m-page-size .m-icon-arrow:hover {
  background: #e0e0e0;
}
.m-paging-right .m-page-size .m-dropdown.m-dropdown-active {
  border: none;
  background: #e0e0e0;
}

.m-page-size .m-dropdown .m-dropdown-list{
  top: unset;
  bottom: 105%;
  left: -161px;
  width: 192px;
  z-index: 4;
}
.m-page-size .m-dropdown .m-dropdown-list .m-dropdown-page{
  height: 32px !important;
  line-height: 32px;
  padding: 0 14px 0 10px;
}
.m-page-size .m-dropdown-page-active, .m-dropdown-page.m-dropdown-page-active:hover{
  color: #fff;
  background-color: #2ca01c;
}