.m-paginate{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    z-index: 11;
}
/* hiển thị số bản ghi */
.m-paginate .m-paging-left{
    line-height: 56px;
}
/* ============ Bộ lọc và phân trang ============== */
.m-paging-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* phân trang */
.m-paging-number{
    line-height: 24px;
    text-align: center;
    height: 24px;
    display: flex;
    justify-content: center;
}
.m-paginate .m-paging-center .m-paging-number div.m-page{
    min-width: 24px;
    height: 24px;
    margin: 0 5px;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}
.m-paginate .m-paging-center .m-paging-number div.m-page:hover{
    background-color: #bbbbbb;
}

/*  */

/* paging */

.m-paging {
    display: flex;
    align-items: center;
}

/* ============ */
.c-sliding-pagination__list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.c-sliding-pagination__page {
    padding: 0 0.5rem;
    color: unset;
}
.c-sliding-pagination__page.c-sliding-pagination__page--current{
    border: 1px solid #c7c7c7;
    font-family: 'NotoSans-Bold';
}