.m-paginate{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    z-index: 11;
}

.m-paginate .m-paging-left{
    /* width: 200px; */
    line-height: 56px;
}
.m-paginate .m-paging-center{
    flex: 1;
    display: flex;
    justify-content: center;
}
.m-paginate .m-paging-first{
    width: 24px;
    height: 24px;
    /* background-image: url('../../content/icon/btn-firstpage.svg'); */
}
.m-paginate .m-paging-prev{
    width: 24px;
    height: 24px;
    /* background-image: url('../../content/icon/btn-prev-page.svg'); */

}
.m-paginate .m-paging-number{
    line-height: 24px;
    text-align: center;
    height: 24px;
    display: flex;
    justify-content: center;
}
.m-paginate .m-paging-next{
    width: 24px;
    height: 24px;
    /* background-image: url('../../content/icon/btn-next-page.svg'); */

}
.m-paginate .m-paging-last{
    width: 24px;
    height: 24px;
    /* background-image: url('../../content/icon/btn-lastpage.svg'); */

}
.m-paginate .m-paging-center .m-paging-number div.m-page{
    min-width: 24px;
    height: 24px;
    margin: 0 5px;
    border: 1px solid #bbb;
    border-radius: 50%;
    cursor: pointer;
}
.m-paginate .m-paging-center .m-paging-number div.m-page:hover{
    background-color: #bbbbbb;
}
