.m-flex{
    display: flex;
    justify-content: space-between;
}
.m-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-flex-start{
    display: flex;
    justify-content: start;
    padding-bottom: 12px;
}
.m-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 12px;
}
.m-text-center{
    text-align: center;
}
.m-text-right{
    text-align: right;
}
.m-text-left{
    text-align: left;
}

/* set padding */
.pt-12{
    padding-top: 12px!important;
}
.plr-6 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}

.pr-6 {
    padding-right: 6px;
}
.pr-26 {
    padding-right: 26px;
}
.mr-4 {
    margin-right: 4px;
}
.mr-10{
    margin-right: 10px ;
}
.mr-20{
    margin-right: 20px ;
}

/* set width */
.w-25{
    width: 25%!important;
}
.w-40 {
    width: 40%!important;
}
.w-50 {
    width: 50%!important;
}
.w-60 {
    width: 60%!important;
}
.w-100{
    width: 100%!important;
}

.m-color-red{
    color: red;
}