/* ======== header ========= */
.m-header{
    height: 48px;
    width: calc(100% - 178px);
    float: left;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.m-header .mi-three-stripes{
    margin: 0 10px;
}
.m-header-branch{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.m-header-branch .m-branch-name,
.m-account-name{
    font-weight: bold;
    color: #111;
}
.m-header-branch .mi-chevron-right{
    transform: rotate(90deg);
    margin: 0 10px;
}

.m-header-left, .m-header-right, .m-account{
    display: flex;
    justify-content: start;
    align-items: center;
}
.m-account{
    margin: 0 16px;
}
.m-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}
.m-account .mi-chevron-down{
    margin-left: 10px;
}